<footer class="footer" id="footer" >
  <h3 id="onzin">© Copyright Avans Hogeschool 2018.</h3>
  <div class="SocialMedia">
    <a href="https://www.facebook.com/" target="_blank"> <i  class="fab fa-facebook-square fa-2x facebook"></i></a>
    <a href="https://twitter.com/?lang=en" target="_blank"> <i  class="fab fa-twitter-square fa-2x twitter"></i></a>
    <a href="https://www.google.com" target="_blank"> <i  class="fas fa-envelope-square fa-2x email"></i></a>
  </div>
</footer>
<!--<div class="footer-demo">-->
<!--<footer class="md-padding">-->
<!--<div id="btmFooter">-->
<!--<p>Basic Footer</p>-->
<!--</div>-->
<!--</footer>-->
<!--</div>-->
