/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


html, body{
  height: 90%;
  width: 100%;
  background-color: antiquewhite;
  overflow-x: hidden;
  //margin: 0;
  font-family: Roboto, sans-serif;
}

.footer {
  color: blue;
  bottom: 0;
  height: 10%;
  width: 100%;
  overflow: hidden;
  align-self: flex-end;

}

.wrapper {
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
}
