#stream{
  //background-color: none;
  height: 60vh;
}

#chat{
  background-color: lightgrey;
  height: 70vh;
}

.row{
  //height: 60vh;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

#streamData{
  height: 100%;
  width: 100%;
  background-color: black;
}

.fa-eye{
  margin-left: 1%;
}

.viewers{
  font-size: 18px;
  margin-top: 4px;
  margin-left: 5px;
  margin-bot: auto;
}

.data-row{
  margin-bottom: auto;
  margin-top: auto;
}
