#avatar{
  width: 120px;
  height: 120px;
  float: left;
  margin-left: 10px;
  margin: 0 auto;
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
  object-fit: cover;
}

#information{
  float: left;
  margin-left: 10px;
}

#streamName{

}

#streamSlogan{

}

#streamViewers{

}

.containerItem{
  margin-bottom: auto;
  margin-top: auto;
  display: block;

}
