<div class="loginform">
<mat-card class="example-card">
  <!--<mat-card-header>-->
    <!--<mat-card-title class="autoSpace">Login</mat-card-title>-->
  <!--</mat-card-header>-->
  <i id=headerlogo class="fas fa-circle-notch fa-8x autoSpace" routerLink="/streamlist" ></i>

  <mat-card-content class="">
    <form [formGroup]="loginUserForm" (ngSubmit)="onSubmit()" class="">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="gewoonlang">
              <input matInput placeholder="Username" formControlName="username" name="username" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td><mat-form-field class="example-full-width " id="password" >
            <input matInput  placeholder="Password"  name="password" formControlName="password" required>
          </mat-form-field></td>
        </tr></table>
      <mat-card-actions id="formbutton">
        <button mat-raised-button type="submit" [disabled]="" color="primary">Login</button>
      </mat-card-actions>
    </form>
    <mat-progress-spinner  [style.display]="showSpinner ? 'block' : 'none'"></mat-progress-spinner>
  </mat-card-content>

</mat-card>
</div>
